<div class="cust_index">
  {% include 'slider' %}
  <div class="std_width">
    <div class="index_nav">
        <img class="nav_logo" src="{{ 'Logo-fullcolor.png' | asset_url}}" alt="Project Content Logo"/>
		<div class="nav">
          <a href="#features">
            <div class="nav_item">  
              Features
            </div>
          </a>
          <a href="#clients">
            <div class="nav_item">  
              Partners
            </div>
          </a>
          <a href="/pages/pricing">
            <div class="nav_item">  
              Pricing
            </div>
          </a>
        </div>
    </div>


    <div class="text_sec one">
      <div class=text_row>
        <div class="led_pc">
		  <img class="LED_PC" src="{{ 'LED_PC.png' | asset_url}}" alt="LED and Project Content"/>
        </div>
      </div>
      <div class=text_row>
		<div class="text_sec">
          At Project Content, there is nothing we believe 
          in more than the marketing power of an LED display. 
          But we also know that simply installing an electronic
          message center in front of a business/organization won’t 
          have people lining up around the block. It takes active 
          management of the display and dynamic visual messages to 
          move the needle. It takes thinking beyond the black box. 
          Supercharge your LED sign today with dynamic stock and 
          custom animated content from Project Content and watch 
          your sign ROI soar to new heights! 
        </div>
      </div>
    </div>

    <div class="index_vid">
      <video width="560" height="315" controls="controls">
        <source src="https://project-content.nextledsigns.com/content/project-content.mp4">
      </video>
    </div>

    <div class="text_sec two">
      <div class=text_row>
        <div class="sec_2_column">
          <div class="mont_header">
            Purpose
          </div>
          <div class="mont_text">
          Our purpose is to provide the LED signage industry 
            with easily accessible, high quality content that 
            is optimized for any sign size imaginable. Imagine
            having access to thousands of messaging options 
            for your LED display, just a click away. Advertise 
            upcoming events or specials with custom content delivered 
            next day.
          </div>
        </div>
        <div class="sec_2_column">
          <div class="mont_header">
            Audience
          </div>
          <div class="mont_text">
         	Whether you own, operate, or sell LED displays,
        	Project Content is right for you. With a membership 
           	to Project Content managing your LED display is
            quick and easy. Just log in, add your content 
            to the download queue, and schedule it using your 
            controller software. Preferred memberships also available to sign dealers.
          </div>
        </div>
      </div>
    </div>
  </div>
    <span class="mont_header" id="clients">
      Our Partners
    </span>
  {% include 'slider-2' %}
  <div class="std_width">
    <div class="text_sec">
      <div class="text_row feat">
        <span class="mont_header" id="features">
          Features
        </span>
      </div>
      <div class=text_row>
        <div class="feat_pic">
          <img  class="illo1" src="{{ 'illo1.png' | asset_url}}" alt="Custom Animations"/>
        </div>
        <div class="feat_text">
          <div class="feat_header">
            Custom Animations
          </div>
          <div class="feat_text">
            Order custom content for any occasion. Each piece of custom content requires a single credit. 
            Credits can be purchased individually or by subscribing to one of our memberships. 
            Take your sign to the next level with custom content.
          </div>
        </div>
      </div>
      <div class=text_row>
        <div class="feat_pic">
          <img  class="illo2" src="{{ 'illo2.png' | asset_url}}" alt="Next Day Content"/>
        </div>
        <div class="feat_text">
          <div class="feat_header">
            Next Day Content
          </div>
          <div class="feat_text">
            Timely messaging is key to any solid marketing plan. 
            Our professional in-house motion designers will create your custom content and
            deliver it in no time. In most cases about a day. 
            Next day content allows for maximum engagement.
          </div>
        </div>
      </div>
      <div class=text_row>
        <div class="feat_pic">
          <img src="{{ 'illo3.png' | asset_url}}" alt="Stock Content Library"/>
        </div>
        <div class="feat_text">
          <div class="feat_header">
            Stock Content Library
          </div>
          <div class="feat_text">
            Project Content offers an extensive library of static and animated 
            content that can be downloaded to fit your sign’s exact resolution. 
            Experience the convenience of having thousands of pre-made messaging options a click away.
          </div>
        </div>
      </div>
      <div class=text_row>
        <div class="feat_pic">
          <img src="{{ 'illo4.png' | asset_url}}" alt="Dynamic Data and Rss"/>
        </div>
        <div class="feat_text">
          <div class="feat_header">
            Dynamic Data / RSS
          </div>
          <div class="feat_text">
            Looking to display live info to
            your sign viewers? Dynamic Data is the answer. 
            Experience live updating sports stats, stocks, weather, and more. 
            With automated updates, providing your viewers with timely content is quick and easy.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="index_footer">
    <img src="{{ 'footertype.png' | asset_url }}" alt="Boost your ROI" class="footer_type" /><br/>
    <div class="footer_text">
      Check out our pricing options:
    </div>
    <div class="footer_btn mont_header">
      <a href="/pages/pricing">Memberships</a>
    </div>
  </div>
</div>